#!/usr/bin/env sh

# This file runs when logged into a graphical X session.

setbg &                            # For desktop background
picom --no-fading-openclose &      # For transparency and screen tearing improvements
dunst &                            # For notifications
unclutter &                        # For removing mouse cursor when idle

# Start running Pulse daemon.
pulseaudio --start &

# Autodetect display every few seconds.
while [ true ]; do sleep 3s; autorandr --change; ~/.fehbg; done &

xset r rate 300 50 &

# DWM status bar.
if [ $LAZYWM = "dwm" ]; then
  while true; do status; sleep 1; done &
fi
