! ! Custom
! Original theme https://github.com/nathanbuchar/atom-one-dark-terminal
*.foreground:    #ABB2BF
*.background:    #1E2127
*.cursorColor:   #5C6370
*.highlightColor:#3A3F4B

! Black and Gray
*.color0:        #1E2127
*.color8:        #5C6370
! Red
*.color1:        #EF616A
*.color9:        #EF616A
! Green
*.color2:        #98C379
*.color10:       #98C379
! Yellow
*.color3:        #D19A66
*.color11:       #D19A66
! Blue
*.color4:        #79969C
*.color12:       #79969C
! Magenta
*.color5:        #C678DD
*.color13:       #C678DD
! Cyan
*.color6:        #56B6C2
*.color14:       #56B6C2
! White
*.color7:        #ABB2BF
*.color15:       #FFFFFF

! Transparency (0-255):
! st.alpha: 230

! Set a default font and font size as below:
*.font:         Iosevka-12
URxvt.font:     xft:Iosevka:size=12
